<div class="form-container">
  <h1>FormRecord</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div>
      @if(form.controls['email']) {
      <button type="button" (click)="removeControl()">Remove email</button>
      } @else {
      <button type="button" (click)="addControl()">Add email</button>

      }
    </div>
    <div>
      <label for="firstName">Nombre</label>
      <input
        type="text"
        formControlName="firstName"
        placeholder="First Name"
        appLettersOnly
        [appShowErrors]="{
          required: 'First name is required',
          minlength: 'First name must be at least 3 characters long'
        }"
      />
    </div>

    <div>
      <label for="lastName">Apellido</label>
      <input type="text" formControlName="lastName" placeholder="Last Name" />
    </div>

    @if(form.controls['email']) {
    <div>
      <label for="email">Email</label>
      <input type="text" formControlName="email" placeholder="Email" />
    </div>
    }

    <button type="submit">Submit</button>
  </form>

  <div>
    <pre>{{ form.value | json }}</pre>
  </div>
</div>
